
::-webkit-scrollbar
	width .7em
	height .7em
::-webkit-scrollbar-thumb
	background slategray
::-webkit-scrollbar-track
	background #b7bfc7
body
	scrollbar-face-color slategray
	scrollbar-track-color #b7bfc7

