@import "general.styl"
@import "fonts.styl"
@import "normalize.styl"
@import url(https://fonts.googleapis.com/css?family=Lato)

@import "nib"
@import "nib/vendor"
vendor-prefixes = o ms webkit moz official


colorBtnConfirmarBackground = #87BC5E
colorBtnConfirmarBorder = #3C7113

colorBtnCancelarBackground = #D46A6A
colorBtnCancelarBorder = #801515

colorBtnEnviarBackground = #4D658D
colorBtnEnviarBorder = #152D54

colorBtnAyudaBackground = #D4886A
colorBtnAyudaBorder = #803315

colorLink = #164900
colorLinkVisited = #4E9231

colorBtnDiabledBackground = #A8A8A8
colorBtnDiabledBorder = #7F7F7F

colorEstadoPreguntaBien = #116611
colorEstadoPreguntaMal = #801515

facebookColor = rgb(59,89,152)
googleColor = #ffbe09
twitterColor = #55acee
youtubeColor = rgb(236,49,43)
githubColor = rgb(51,51,51)

colorCoumnaMarcada = rgba(0,0,0,.1)

colorMenuFooter = rgba(0, 0, 0, .7)
/*
html,body,.contenedorDeAncho
	height 100%
*/
input, textarea, select, button
	outline none
hr
	width 90%
	margin 10px auto
	color gray
	box-shadow 0px 4px 16px gray
	border-radius 50%

input:disabled,select:disabled
	cursor not-allowed
	border none
	background-color colorBtnDiabledBackground

button[type="submit"]:disabled
	cursor not-allowed
	border 2px solid colorBtnDiabledBackground
	background-color colorBtnDiabledBackground
	border-color colorBtnDiabledBorder
	&:hover
		transition background-color 2s
		background-color colorBtnDiabledBorder

select
	background-color transparent
body
	font-size 20px
	font-family 'Lato' sans-serif
	margin 0
a
	color colorLink
	&:visited
		color colorLinkVisited
ul
	margin 0
	padding 0
	list-style none
.fieldset
	padding 10px 0
	border none
	display flex
	justify-content center
figure
	margin 0
	padding 0

/*
+-----------------------+
|		Ayuda			|
+-----------------------+
*/
.seccionAyuda
	.btnAyuda
		cursor help
	.seccionExplicacion
		padding 20px
		position absolute
		border 2px solid colorBtnAyudaBorder
		background-color colorBtnAyudaBackground
		border-radius 10px
		border-top none
		border-top-left-radius 0
		border-top-right-radius 0


/*
+-----------------------+
|		CSSOO			|
+-----------------------+
*/
.positionRelative
	position relative
.cancelarMargin
	margin 0 !important
.positionFija
	position fixed
.contenedorDeAncho
	max-width 90%
	margin 0 auto
	position relative
.borderNone
	border none
.textoNegrilla
	font-weight bold
.dosColumnas
	width 50%
	margin 0
	padding 0
.ancho100PorCieto
	width 100%
.displayFlexCenterTotal
	display flex
	justify-content center
	align-items center
	flex-wrap wrap
.marginIconos
	margin 0 10px
.displayFlexCenterSpaceAround
	display flex
	justify-content space-around
	align-items center
	flex-wrap wrap

.textoCentrado
	text-align center
.textoDerecha
	text-align right
.textoIzquierda
	text-align left
.containerInfo
	width 100%
.titulo
	font-size 2em
	text-transform uppercase
	border-bottom 1px dashed black
	display inline-block
	padding 10px
.inputCenterUppercase
	text-align center
	text-transform uppercase
.textoDescripcion
	font-size 0.8em
	color gray
	margin-left 20px
	margin-top 2px
	margin-bottom 20px
.textoEspecial
	font-size 2em
.ocultar
	display none
.centrarConMargin
	margin 0 auto
	display block

//las tres siguientes clases son para colorear de rojo o verde dependiendo de si algo esta bien o mal
.estadoDeRespuesta
	font-weight bold
.bien
	color colorEstadoPreguntaBien
.mal
	color colorEstadoPreguntaMal

/*
+-----------------------+
|		MSG 			|
+-----------------------+
*/
.contenedorMensaje
	position absolute
	bottom 0
	animation 2s ascender 1 linear
	.MSG
		color white
		border 3px solid
		border-radius 10px
		display inline-block
		padding 0 10px

		span,p
			display inline-block
		span
			margin-right 20px
			animation 1s aumentaDisminuye infinite linear

		&Bien
			background-color colorBtnEnviarBackground
			border-color colorBtnEnviarBorder
			&:hover
				transition background-color 2s
				background-color colorBtnEnviarBorder

		&Error
			background-color colorBtnCancelarBackground
			border-color colorBtnCancelarBorder
			&:hover
				transition background-color 2s
				background-color colorBtnCancelarBorder



/*
+-----------------------+
|Iconos de Volumen 		|
+-----------------------+
*/
.icon-volumenBajo
	color #D4A16A
.icon-volumenAlto
	color #567714
.icon-volumenMedio
	color #D4C66A
.icon-silenciado
	color #D46A6A
/*
+-----------------------+
|		Menu 			|
+-----------------------+
*/

nav
	width 100%
	position fixed
	ul
		background-color colorMenuFooter
		li
			display inline-block
			a
				color white !important
				text-decoration none
				display inline-block
				font-size 1.2em
				&:hover
					transition background-color 2s
					background-color rgba(0,0,0,0.9)
				&:hover > .icono
					animation 1s aumentaDisminuye infinite linear
			a.itemsMenu
				padding 10px
				.nombreMenu:first-letter
					font-size 1.3em

/*
+----------------------------+
|Imagen con paralax - Iniciio|
+----------------------------+
*/

.imagenFondo
	background-image url('../img/backgroundIndex.jpg')
	width 100%
	height 600px
	background-attachment fixed
	background-position: center
	background-size cover
	text-align center
	//-webkit-filter blur(2px)
/*
+-----------------------+
|		Botones 		|
+-----------------------+
*/

.btn
	border 2px solid #000
	border-radius 5px
	color #fff
	padding 10px
	font-size 1em
	font-weight bold
	letter-spacing 3px
	&Confirmar
		background-color colorBtnConfirmarBackground
		border-color colorBtnConfirmarBorder
		&:hover
			transition background-color 2s
			background-color colorBtnConfirmarBorder
	&Cancelar
		background-color colorBtnCancelarBackground
		border-color colorBtnCancelarBorder
		&:hover
			transition background-color 2s
			background-color colorBtnCancelarBorder
	&Enviar
		background-color colorBtnEnviarBackground
		border-color colorBtnEnviarBorder
		&:hover
			transition background-color 2s
			background-color colorBtnEnviarBorder
	&Ayuda
		border-bottom none
		border-bottom-left-radius 0
		border-bottom-right-radius 0
		background-color colorBtnAyudaBackground
		border-color colorBtnAyudaBorder
		&:hover
			transition background-color 2s
			background-color colorBtnAyudaBorder

/*
+-----------------------------------+
|		Efecto de linea inferior	|
|		de los inputs en fous 		|
+-----------------------------------+
*/

.inputBorderBottomFocus
	border-color transparent
	border-bottom 1px solid transparent

.inputBorderBottomFocus:focus
	transition border-bottom 3s
	border-bottom 1px solid black

/*
+-----------------------+
|	Modulo de Conjuntos	|
+-----------------------+
*/

.inputCorto
	width 40px
	text-align center
.corchetesConjuntos:after
	content "}"
.corchetesConjuntos:before
	content " = {"

/*
+-----------------------+
|		Grafos			|
+-----------------------+
*/
svg
	//width 95%
	user-select none
	width 100%
	display block
	margin 0 auto
	height 500px
	border-top 5px solid gray
	border-bottom 5px solid gray
	circle
		fill #AB2121
		&:hover
			fill #EC6D6D
			stroke #AB2121
			stroke-width 2px
			cursor pointer
	.lineGilla
		stroke rgba(0,0,0,.1)
		stroke-width 1px
	.lineGrafo
		stroke #FF9A9A
		stroke-width 5px
	.nombreCircle
		font-size 40px
		font-family 'Lato'
		stroke black
		stroke-width 1px
		fill white
.agrandarEncoger
	animation 2s aumentaDisminuye 1 linear
.nombreVertice:after
	content " ): "
.nombreVertice:before
	content "deg ( "


/*
+-----------------------+
|	Pagina -> Acerca de	|
+-----------------------+
*/

.acercaDe
	background-color gray
	padding 20px
	border-radius 20px
	.img
		width 30%
		img
			display block
			width 90%
			margin 0 auto
			border-radius 50%
	.infoCreador
		width 70%

/*
+---------------------------+
|	Listado de Ejercicios	|
|	y Cursos disponibles	|
+---------------------------+
*/

ul.listado
	li
		margin 10px 0
		font-size 1em



/*
+-----------------------+
|		footer			|
+-----------------------+
*/
footer
	padding-top 10px
	margin-top 30px
	border-top 5px solid rgba(0,0,0,1)
	background-color colorMenuFooter
	color white
	.contactoRedes
		font-size 2em
		.icon-facebook
			color facebookColor
		.icon-google
			color googleColor
		.icon-twitter
			color twitterColor
		.icon-youtube
			color youtubeColor
		.icon-github
			color githubColor

	p
		margin 5px 0
		text-align center
	.contactoRedes
		background-color white !important
		text-align right
		padding 5px 0
		a
			//falta prefijos
			filter grayscale(100%)
			text-decoration none
			.iconoRed
				-webkit-filter grayscale(100%)
				&:hover
					transition -webkit-filter 1s
					-webkit-filter grayscale(0%)
	.acciones
		display flex
		justify-content space-around

/*
+-----------------------+
|	Tablas de Verdad	|
+-----------------------+
*/

table
	border-collapse collapse
	margin 0 auto
	margin-top 20px
	margin-bottom 20px
	tr
		&:hover
			background-color colorCoumnaMarcada

		th
			padding 10px
			border 2px solid black
			&:last-child
				padding 0
		.respuestaEjercicio
			width 130px
			border none
			outline none
			text-align center
			text-transform uppercase
			font-weight bold
			height 100%
	input
		background-color inherit
		padding 0
.columnaMarcada
	background-color colorCoumnaMarcada
	input
		background-color initial
/*
+-----------------------------------+
|			Animaciones				|
+-----------------------------------+
*/

@keyframes parpadeoError
	0%
		background-color #FFAAAA
	50%
		background-color #D46A6A
	100%
		background-color #FFAAAA

@keyframes aumentaDisminuye
	0%
		transform scale(1.1)
	50%
		transform scale(1)
	100%
		transform scale(1.1)
@keyframes ascender
	0%
		transform translateY(-10px)
	25%
		transform translateY(-30px)
	50%
		transform translateY(-40px)
	75%
		transform translateY(-50px)
	100%
		transform translateY(-60px)


/*
+-----------------------------------+
|				Queries				|
+-----------------------------------+
*/

@media screen and (max-width: 1200px)
	.dosColumnas
		width 80%
		margin 0 auto
		display block
@media screen and (max-width:600px)
	.nombreMenu
		display none !important


//-----------------------
.respuesta
	letter-spacing 5px
	font-size 1.5em
	width 50%
	margin 30px auto
	display block
	min-height 200px
	text-align center


.agregarFila
	border-radius 50%
	background-color colorBtnConfirmarBackground
	border 2px solid colorBtnConfirmarBorder
	color white
	width 41px
	height 40px
	&:hover
		transition background-color 2s
		background-color colorBtnConfirmarBorder

.valorErroneo
	animation 2s parpadeoError linear infinite
/*
+-----------------------------------+
|	Estilo de teclas o shotcuts		|
+-----------------------------------+
*/
.contenedorTeclas
	p
		display inline-block
	.tecla
		color white
		border-radius 5px
		padding 0 10px
		background-color rgba(0,0,0,.8)

/*
+-----------------------------------+
|				Audio				|
+-----------------------------------+
*/

.reproductorMusica
	display inline-block
	border 1px solid gray
	padding 10px
	border-radius 10px
	button
		appearance none
		background-color white
		border none
		color gray
	button:hover
		color black !important
	.ajustes
		color black
		background-color white
		padding 3px
		&:hover
			background-color rgba(0,0,0,.1)
	.listadoAjustesAudio
		border 1px solid gray
		border-top-right-radius 10px
		border-top-left-radius 10px
		font-size .7em
		position absolute
		top -110px
		background-color rgba(0,0,0,.1)
		right 0
		padding 10px
		li
			width auto
			padding 5px 0
			label
				width 70px
				display inline-block
				font-weight bold
		input[type="number"]
			width 30px

