@import "normalize.styl"
@import url(https://fonts.googleapis.com/css?family=Lato)

body
	font-size 16px
	font-family 'Lato' sans-serif
	margin 0
	font-size 18px

ul
	margin 0
	list-style none
fieldset
	border none
figure
	margin 0
	padding 0

.formConjuntos
	.nombreConjunto
		width 20px
		text-align right
	input
		border none
		outline none
.corchetesConjuntos:after
	content "}"
.corchetesConjuntos:before
	content " = {"

.respuesta
	width 50%
	margin 30px auto
	display block
	min-height 200px
	text-align center


.contenedorDeAncho
	max-width 1200px
	margin 0 auto

.borderNone
	border none
.textoNegrilla
	font-weight bold
.valorErroneo
	background-color #D46A6A

.dosColumnas
	width 50%
	margin 0
	padding 0
.ancho100PorCieto
	width 100%

.displayFlexCenterTotal
	display flex
	justify-content center
	align-items center
	flex-wrap wrap
.textoCentrado
	text-align center

.titulo
	font-size 2em
	text-transform: uppercase
	border-bottom 1px dashed black
	display: inline-block
	padding: 10px;

.acercaDe
	background-color gray
	padding 20px
	border-radius 20px
	.img
		width 30%
		img
			display block
			width 90%
			margin 0 auto
			border-radius 50%
	.infoCreador
		width 70%

nav
	width 100%
	position fixed
	ul
		background-color rgba(0,0,0,0.7)
		li
			display inline-block
			a.itemsMenu
				padding 10px
				color white
				display block
				text-decoration none
				&:first-letter
					font-size 1.2em

.imagenFondo
	background-image url('../img/backgroundIndex.jpg')
	width 100%
	height 600px
	background-attachment fixed
	background-position: center
	background-size cover
	text-align center
	filter blur(2px)
	background-position: 50% 50%;
.containerInfo
	width 100%

ul.listado
	li
		margin 10px 0
		font-size 1em
		.descripcion
			font-size 0.8em
			color gray
			margin-left 20px
			margin-top 2px
			margin-bottom 20px

table
	border-collapse:collapse;
	display inline-block
	margin 10px
	tr
		th
			padding 10px
			border 2px solid black
			&:last-child
				padding 0
		.respuestaEjercicio
			border none
			outline none
			text-align center
			text-transform uppercase
			font-weight bold
			height 100%



@media screen and (max-width: 1200px)
	.dosColumnas
		width 80%
		margin 0 auto
		display block
