<template id="template">
	<nav>
		<ul class="displayFlexCenterTotal">
			<li>
				<a href="index.html" class="itemsMenu">
					<span class="icono icon-inico"></span>
					<span class="nombreMenu">Inicio</span>
				</a>
			</li>
			<li>
				<a href="moduloCursos/todosLosCursos.html" class="itemsMenu">
					<span class="icono icon-cursos"></span>
					<span class="nombreMenu">Cursos</span>
				</a>
			</li>
			<li>
				<a href="moduloEjercicios/todosLosEjercicios.html" class="itemsMenu">
					<span class="icono icon-ejercicios"></span>
					<span class="nombreMenu">Ejercicios</span>
				</a>
			</li>
			<li>
				<a href="acercaDe.html" class="itemsMenu">
					<span class="icono icon-nosotros"></span>
					<span class="nombreMenu">Acerca de..</span>
				</a>
			</li>
		</ul>
	</nav>
</template>

<script>
	var XComponent = document.registerElement('menu', {
		prototype: Object.create(HTMLElement.prototype, {
			createdCallback: {
				value: function() {
					var root = this.createShadowRoot();
					var template = document.querySelector('#template');
					var clone = document.importNode(template.content, true);
					root.appendChild(clone);
				}
			}
		})
	});
</script>
