/*
+-----------------------------------+
|			Animaciones				|
+-----------------------------------+
*/

@keyframes parpadeoError
	0%
		background-color #FFAAAA
	50%
		background-color #D46A6A
	100%
		background-color #FFAAAA

@keyframes aumentaDisminuye
	0%
		transform scale(1.1)
	50%
		transform scale(1)
	100%
		transform scale(1.1)
@keyframes ascender
	0%
		transform translateY(-10px)
	25%
		transform translateY(-30px)
	50%
		transform translateY(-40px)
	75%
		transform translateY(-50px)
	100%
		transform translateY(-60px)

