
/*
+-----------------------------------+
|				Audio				|
+-----------------------------------+
*/

.reproductorMusica
	font-size 1.5em
	display inline-block
	border 1px solid gray
	padding 10px
	border-radius 10px
	background-color white
	width 270px
	button
		appearance none
		background-color white
		border none
		color gray
	button:hover
		color black !important
	.ajustes
		color black
		background-color white
		padding 3px
		&:hover
			background-color rgba(0,0,0,.1)
	.listadoAjustesAudio
		font-size .7em
		padding 10px
		li
			padding-right 10px
			display inline-block
			label
				display block
				font-weight bold
				text-align center
		input[type="number"]
			width 30px

.barraDeProgreso
	position relative
	border none
.barraDeProgreso::-webkit-slider-runnable-track
	background gray
	height 3px
	border-radius 10px

.barraDeProgreso::-webkit-slider-thumb
	appearance none
.barraDeProgreso::-webkit-slider-thumb:before
	content ' '
	display block
	width 10px
	height 10px
	border-radius 50%
	position absolute
	background black
	top -2.5px
/*
+-----------------------+
|Iconos de Volumen 		|
+-----------------------+
*/
.icon-volumenBajo
	color #D4A16A
.icon-volumenAlto
	color #567714
.icon-volumenMedio
	color #D4C66A
.icon-silenciado
	color #D46A6A
