/*
+-----------------------+
|	Modulo de Conjuntos	|
+-----------------------+
*/

.inputCorto
	width 40px
	text-align center
.corchetesConjuntos:after
	content "}"
.corchetesConjuntos:before
	content " = {"
.respuesta
	letter-spacing 5px
	font-size 1.5em
	width 70%
	margin 30px auto
	display block
	min-height 200px
	text-align center
.nombreConjunto
	width 100px
