@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?8kjovh');
	src:url('../fonts/icomoon.eot?8kjovh#iefix') format('embedded-opentype'),
	url('../fonts/icomoon.ttf?8kjovh') format('truetype'),
	url('../fonts/icomoon.woff?8kjovh') format('woff'),
	url('../fonts/icomoon.svg?8kjovh#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Enable Ligatures ================ */
	letter-spacing: 0;
	-webkit-font-feature-settings: "liga";
	-moz-font-feature-settings: "liga=1";
	-moz-font-feature-settings: "liga";
	-ms-font-feature-settings: "liga" 1;
	-o-font-feature-settings: "liga";
	font-feature-settings: "liga";

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-arrow-right-thick:before {
	content: "\e900";
}
.icon-arrow-left-thick:before {
	content: "\e901";
}
.icon-guardar:before {
	content: "\e085";
}
.icon-verificar:before {
	content: "\f076";
}
.icon-inico:before {
	content: "\e600";
}
.icon-realizarEjercicio:before {
	content: "\e617";
}
.icon-musica:before {
	content: "\e611";
}
.icon-cursos:before {
	content: "\e601";
}
.icon-nosotros:before {
	content: "\e602";
}
.icon-comillasAbre:before {
	content: "\e603";
}
.icon-comillasCierra:before {
	content: "\e604";
}
.icon-ejercicios:before {
	content: "\e605";
}
.icon-ajustes:before {
	content: "\e614";
}
.icon-borrar:before {
	content: "\e612";
}
.icon-ayuda:before {
	content: "\e615";
}
.icon-mas:before {
	content: "\e60f";
}
.icon-menos:before {
	content: "\e610";
}
.icon-equivocado:before {
	content: "\e606";
}
.icon-correcto:before {
	content: "\e607";
}
.icon-volumenAlto:before {
	content: "\e618";
}
.icon-volumenMedio:before {
	content: "\e619";
}
.icon-volumenBajo:before {
	content: "\e61a";
}
.icon-silenciado:before {
	content: "\e61b";
}
.icon-shift:before {
	content: "\e613";
}
.icon-developer:before {
	content: "\e608";
}
.icon-terminal:before {
	content: "\e609";
}
.icon-google:before {
	content: "\e60a";
}
.icon-facebook:before {
	content: "\e60b";
}
.icon-twitter:before {
	content: "\e60c";
}
.icon-youtube:before {
	content: "\e60d";
}
.icon-github:before {
	content: "\e60e";
}

