body.flex
	display flex
	flex-wrap wrap
	nav
		align-self flex-start
	.cP
		align-self flex-start
		min-height: calc(100% - 128px)
	footer
		align-self flex-end


::-webkit-scrollbar
	width .7em
	height .7em
::-webkit-scrollbar-thumb
	background slategray
::-webkit-scrollbar-track
	background #b7bfc7

input[type="checkbox"],input[type="radio"]
	display flex
	justify-content center
	align-items center
	cursor pointer
	font-family 'icomoon'
	appearance none
	width 25px
	height 25px
	border 2px solid gray
	&:before
		color rgba(0, 0, 0,.1) !important
		content "\e607"
	&:checked
		&:before
			color rgb(0, 0, 0) !important
			content "\e607"
	&:hover
		&:before
			color rgba(0, 0, 0, .5) !important
			content "\e607"
input[type="radio"]
	border-radius 50%
input[type="checkbox"]
	border-radius 5px

body
	scrollbar-face-color slategray
	scrollbar-track-color #b7bfc7

/*
+-----------------------+
|		Ayuda			|
+-----------------------+
*/
.seccionDesplegable
	.contentDesplegable
		padding 20px
		position absolute
		z-index 2
	.seccionAyuda
		border 2px solid colorBtnAyudaBorder
		background-color colorBtnAyudaBackground
		border-radius 10px
		border-top none
		border-top-left-radius 0
		border-top-right-radius 0
		width 500px



/*
+-----------------------+
|		MSG 			|
+-----------------------+
*/

.MSG
	animation 2s ascender linear forwards
	position absolute
	right 0
	color black
	font-weight bold
	display flex
	background-color white
	height 100px
	min-width 500px
	box-shadow 4px 5px 10px 0px gray
	.contenedorMensaje
		width calc(100% - 110px)
		padding 10px
	.contenedorIcon
		width 110px
		img
			width 100%

.inputSubirGrafo
	display none


/*
+-----------------------+
|	Errores de pagina	|
+-----------------------+
*/
.error
	.code
		font-size 6em
		margin 10px 0


/*
+-----------------------------------+
|	Estilo de teclas o shotcuts		|
+-----------------------------------+
*/
.contenedorTeclas
	p
		display inline-block !important
.tecla
	color white
	border-radius 5px
	padding 10px
	background-color rgba(0,0,0,.8)
	font-weight bold

[ayudaEmergente]
	position relative
	&:hover
		&:before
			content attr(ayudaEmergente)
			position absolute
			top -20px
			background-color gray
			padding 2px
			border-radius 2px
			color white
			width auto
			z-index 20
