body.flex
	display flex
	flex-wrap wrap
	nav
		align-self flex-start
	.cP
		align-self flex-start
		min-height: calc(100% - 128px)
	footer
		align-self flex-end


::-webkit-scrollbar
	width .7em
	height .7em
::-webkit-scrollbar-thumb
	background slategray
::-webkit-scrollbar-track
	background #b7bfc7

input[type="checkbox"],input[type="radio"]
	display flex
	justify-content center
	align-items center
	cursor pointer
	font-family 'icomoon'
	appearance none
	width 25px
	height 25px
	border 2px solid gray
	&:before
		color rgba(0, 0, 0,.1) !important
		content "\e607"
	&:checked
		&:before
			color rgb(0, 0, 0) !important
			content "\e607"
	&:hover
		&:before
			color rgba(0, 0, 0, .5) !important
			content "\e607"
input[type="radio"]
	border-radius 50%
input[type="checkbox"]
	border-radius 5px

body
	scrollbar-face-color slategray
	scrollbar-track-color #b7bfc7

/*
+-----------------------+
|		Ayuda			|
+-----------------------+
*/
.seccionDesplegable
	.contentDesplegable
		padding 20px
		position absolute
		z-index 2
	.seccionAyuda
		border 2px solid colorBtnAyudaBorder
		background-color colorBtnAyudaBackground
		border-radius 10px
		border-top none
		border-top-left-radius 0
		border-top-right-radius 0
		width 500px



/*
+-----------------------+
|		MSG 			|
+-----------------------+
*/
.contenedorMensaje
	position absolute
	bottom 0
	animation 2s ascender 1 linear
	.MSG
		color white
		border 3px solid
		border-radius 10px
		display inline-block
		padding 0 10px

		span,p
			display inline-block
		span
			margin-right 20px
			animation 1s aumentaDisminuye infinite linear

		&Bien
			background-color colorBtnEnviarBackground
			border-color colorBtnEnviarBorder
			&:hover
				transition background-color 2s
				background-color colorBtnEnviarBorder

		&Error
			background-color colorBtnCancelarBackground
			border-color colorBtnCancelarBorder
			&:hover
				transition background-color 2s
				background-color colorBtnCancelarBorder

.inputSubirGrafo
	display none


/*
+-----------------------+
|	Errores de pagina	|
+-----------------------+
*/
.error
	.code
		font-size 6em
		margin 10px 0


/*
+-----------------------------------+
|	Estilo de teclas o shotcuts		|
+-----------------------------------+
*/
.contenedorTeclas
	p
		display inline-block !important
.tecla
	color white
	border-radius 5px
	padding 0 10px
	background-color rgba(0,0,0,.8)

[ayudaEmergente]
	position relative
	&:hover
		&:before
			content attr(ayudaEmergente)
			position absolute
			top -20px
			background-color gray
			padding 2px
			border-radius 2px
			color white
			width auto
			z-index 20
