

/*
+-----------------------+
|		Grafos			|
+-----------------------+
*/
svg
	//width 95%
	user-select none
	width 100%
	display block
	margin 0 auto
	height 500px
	border-top 5px solid gray
	border-bottom 5px solid gray
	circle
		fill rgba(0,0,0,.4)
		&:hover
			stroke rgba(0,0,0,.6)
			stroke-width 2px
			cursor pointer
	line
		stroke rgba(0,0,0,.6)
		stroke-width 5px
	.lineGilla
		stroke rgba(0,0,0,.1)
		stroke-width 1px
	.nombreCircle
		font-size 40px
		font-family 'Lato'
		stroke black
		stroke-width 1px
		fill white
.agrandarEncoger
	animation 2s aumentaDisminuye 1 linear
.nombreVertice:after
	content " ): "
.nombreVertice:before
	content "deg ( "

.accionesLienzo
	.accionLienzo
		font-size 1.5em
		padding 10px
.accionActiva
	color green
	animation 2s aumentaDisminuye infinite

.mouse
	position relative
	width 140px
	height 230px
	border 5px solid black
	border-radius 60px
	display flex
	margin 0 auto
	margin-top 20px
	margin-bottom 20px
	.bottonUno
		width 46%
		margin 0 2%
		border-bottom 2px solid gray
		height 100px
		border-right 2px solid gray
	.bottonDos
		position absolute
		width 30px
		height 69px
		border-radius 40px
		border 2px solid black
		background-color black
		top 20px
		left calc(50% - 18px)
	.bottonTres
		width 46%
		padding 0 2%
		border-bottom 2px solid gray
		height 100px
.mouseActive
	background-color green !important
