
@import "nib"
@import "nib/vendor"

vendor-prefixes = o ms webkit moz official

@import url(https://fonts.googleapis.com/css?family=Lato)

@import "varStylus.styl"
@import "normalize.styl"
@import "fonts.styl"

@import "animations.styl"
@import "querys.styl"
@import "OOCSS.styl"

@import "general.styl"
@import "audio.styl"

@import "acercaDe.styl"
@import "conjuntos.styl"
@import "tablasDeVerdad.styl"
@import "grafos.styl"
@import "calculoProposicional.styl"





html,body
	height 100%

input, textarea, select, button
	outline none
hr
	width 90%
	margin 10px auto
	height 1px
	background-image repeating-linear-gradient(45deg, gray, gray 9px, black, black 11px)
	border-radius 2px

input:disabled,select:disabled
	cursor not-allowed
	border none
	background-color rgba(0, 0, 0, .2)
input,select
	border-top 3px solid gray
select
	background-color transparent
body
	font-size 20px
	font-family 'Lato' sans-serif
	margin 0
a
	color colorLink
	&:visited
		color colorLinkVisited
ul
	margin 0
	padding 0
	list-style none
.fieldset
	padding 10px 0
	border none
	display flex
	justify-content center
	flex-wrap wrap
figure
	margin 0
	padding 0

/*
+-----------------------+
|		Menu 			|
+-----------------------+
*/

nav
	width 100%
	//position fixed
	ul
		background-color colorMenuFooter
		li
			display inline-block
			a
				color white !important
				text-decoration none
				display inline-block
				font-size 1.2em
				&:hover
					transition background-color 2s
					background-color rgba(0,0,0,0.9)
				&:hover > .icono
					animation 1s aumentaDisminuye infinite linear
			a.itemsMenu
				padding 10px
				.nombreMenu:first-letter
					font-size 1.3em

/*
+----------------------------+
|Imagen con paralax - Iniciio|
+----------------------------+
*/

.imagenFondo
	background-image url('../img/backgroundIndex.jpg')
	width 100%
	height 600px
	background-attachment fixed
	background-position: center
	background-size cover
	text-align center
.containerInfo
	margin-top 20px
	display flex
	&:nth-child(2n+2)
		background-color #red
		.textoIndex
			order 2
.textoIndex
	width 70%
.imgIndex
	width 30%

.AppComLogica
	.nombreApp
		font-size 80px
	.faseApp
		font-size 50px





/*
+---------------------------+
|	Listado de Ejercicios	|
|	y Cursos disponibles	|
+---------------------------+
*/

ul.listado
	li
		margin 10px 0
		font-size 1em



/*
+-----------------------+
|		footer			|
+-----------------------+
*/
footer
	padding-top 10px
	border-top 3px solid rgba(0,0,0,1)
	background-color colorMenuFooter
	color white
	width 100%

	.contactoRedes
		background-color colorMenuFooter
		.icon-facebook
			color facebookColor
		.icon-google
			color googleColor
		.icon-twitter
			color twitterColor
		.icon-youtube
			color youtubeColor
		.icon-github
			color githubColor
	p
		margin 5px 0
		text-align center
	.contactoRedes
		background-color white !important
		text-align right
		padding 5px 0
		a
			//falta prefijos
			filter grayscale(100%)
			text-decoration none
			.iconoRed
				font-size 1rem
				-webkit-filter grayscale(100%)
				margin 0 5px
				&:hover
					transition -webkit-filter 1s
					-webkit-filter grayscale(0%)
	.acciones
		display flex
		justify-content space-around
