/*
+-----------------------------------+
|				Queries				|
+-----------------------------------+
*/

@media screen and (max-width: 1200px)
	.dosColumnas
		width 80%
		margin 0 auto
		display block
@media screen and (max-width:600px)
	.contenedorDeAncho
		width 98% !important

	.nombreMenu
		display none !important
	.respuesta
		letter-spacing 3px
		font-size 1.4em
		width 100%
		margin 30px auto
		display block
		min-height 200px
		text-align center

	.AppComLogica
		.nombreApp
			font-size 65px !important
		.faseApp
			font-size 20px !important
