colorBtnConfirmarBackground = #87BC5E
colorBtnConfirmarBorder = #3C7113

colorBtnCancelarBackground = #D46A6A
colorBtnCancelarBorder = #801515

colorBtnEnviarBackground = #4D658D
colorBtnEnviarBorder = #152D54

colorBtnAyudaBackground = #D4886A
colorBtnAyudaBorder = #803315

colorLink = #164900
colorLinkVisited = #4E9231

colorBtnDiabledBackground = #A8A8A8
colorBtnDiabledBorder = #7F7F7F

colorEstadoPreguntaBien = #116611
colorEstadoPreguntaMal = #801515

facebookColor = rgb(59,89,152)
googleColor = #ffbe09
twitterColor = #55acee
youtubeColor = rgb(236,49,43)
githubColor = rgb(51,51,51)

colorCoumnaMarcada = rgba(0,0,0,.1)

colorMenuFooter = rgba(0, 0, 0, .7)
