extends ../templates/templateCursosEjercicios.jade

block title
	title Conjuntos || Aplicacion Logica computacional
block ayuda
	p Hola, para realizar el ejercicio sigue los paso que damos a continuacion.
	ol
		li arrastra con el mouse(click Izquierdo) el conector(es) que creas que correcto para la proposicion.
		p Luego
		li Cuando termines, presiona
			b Realizar Ejercicio
block content
	h1.textoCentrado Calculo Proposicional
	p Hola, ejercita tu logica, relaciona la proposicion que tienes adelante con los conectores que lleva consigo. para mas informacion ver
		span.btn.btnAyuda.marginLateral Ayuda
	section#proposiciones_js
		p.oracion.seccionSeparadora
			span.icon-comillasAbre.marginLateral
			span#oracion_js
			span.icon-comillasCierra.marginLateral
	h2.textoCentrado Conectores
	section#proposicionesPosibles_js.elementosArrastrables
		p.proposicion.elementoArrastrable(value="0" draggable="true" ayudaEmergente="y")
			span.icon-y
		p.proposicion.elementoArrastrable(value="1" draggable="true" ayudaEmergente="o")
			span.icon-o
		p.proposicion.elementoArrastrable(value="2" draggable="true" ayudaEmergente="condicional")
			span.icon-condicional
		p.proposicion.elementoArrastrable(value="3" draggable="true" ayudaEmergente="bicondicional")
			span.icon-bicondicional
	hr
	section#respuesta_js
		article#dropzone_js.descargaEnZona.dropzone


	button(type="submit").btn.btnConfirmar.centrarConMargin#htmlInputSubmitBtnrealizarEjercicio_js

block script
	script(src='../js/variablesGenerales.js')
	script(src='../js/principal.js')
	script(src='../js/funcionesAxuliares.js')
	script(src='../js/calculoProposicional.js')
