extends ../templates/templateCursosEjercicios.jade

block title
	title Conjuntos || Aplicacion Logica computacional

block content
	h1.textoCentrado Lorem
	p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique nam quibusdam sapiente, ullam neque, aliquid debitis repellendus placeat. Minus quod similique mollitia, a et magni quis neque! Aut, tempora. Incidunt.
	section#proposiciones_js
		p#oracion_js
	section#respuesta_js
		article#dropzone_js.descargaEnZona.dropzone
	section#proposicionesPosibles_js.elementosArrastrables

		p.proposicion.elementoArrastrable(value="0" draggable="true") y ()
		p.proposicion.elementoArrastrable(value="1" draggable="true") o ()
		p.proposicion.elementoArrastrable(value="2" draggable="true") Condicion ()
		p.proposicion.elementoArrastrable(value="3" draggable="true") Bicondicion ()
	button(type="submit").btn.btnConfirmar.centrarConMargin#htmlInputSubmitBtnrealizarEjercicio_js
		span.icon-verificar
		span.marginIconos Verificar

block script
	script(src='../js/variablesGenerales.js')
	script(src='../js/principal.js')
	script(src='../js/funcionesAxuliares.js')
	script(src='../js/calculoProposicional.js')
