doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Ejercicios | Calculo proposicional
    link(rel='stylesheet', href='../css/logicacomputacional.css')
  body
    section
      h1.textoCentrado Lorem
      p
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique nam quibusdam sapiente, ullam neque, aliquid debitis repellendus placeat. Minus quod similique mollitia, a et magni quis neque! Aut, tempora. Incidunt.
    script(src='../js/variablesGenerales.js')
    script(src='../js/funcionesAxuliares.js')
