extends ../templates/templateCursosEjercicios.jade

block title
	title Conjuntos || Aplicacion Logica computacional

block content
	section#contenedorPrincipal_js.contenedorDeAncho
		section
			h1.textoCentrado Lorem
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique nam quibusdam sapiente, ullam neque, aliquid debitis repellendus placeat. Minus quod similique mollitia, a et magni quis neque! Aut, tempora. Incidunt.
			section#proposiciones_js
				p#oracion_js
			section#respuesta_js
				article#dropzone_js.descargaEnZona.dropzone
			section#proposicionesPosibles_js.elementosArrastrables

				p.proposicion.elementoArrastrable(value="0" draggable="true") y ()
				p.proposicion.elementoArrastrable(value="1" draggable="true") o ()
				p.proposicion.elementoArrastrable(value="2" draggable="true") Condicion ()
				p.proposicion.elementoArrastrable(value="3" draggable="true") Bicondicion ()
			button(type="submit").btn.btnConfirmar.centrarConMargin#btnValidarEjercicio_js
				span.icon-verificar
				span.marginIconos Verificar
	form(id="pruebaForm"/* method="post", action="/enviar_mensaje"*/)
		label Asunto
		input(type="text", name="asunto")
		label Mensaje
		textarea(cols="40", rows="10", name="mensaje")
		input(type="submit", value="Enviar mensaje")

block script
	script(src='../js/funcionesAxuliares.js')
	script(src='../js/variablesGenerales.js')
	script(src='../js/calculoProposicional.js')
	script.
		var pruebaForm = document.getElementById("pruebaForm")
		pruebaForm.addEventListener("submit", function(evento){
			evento.preventDefault()
			var data = {}
			data.asunto = "holaaaaa"
			data.mensage = "holaaaaa"
			console.log(data)
			var oReq = new XMLHttpRequest();
			//oReq.addEventListener("load", reqListener);
			oReq.open("POST", "/enviar_mensaje");
			oReq.send(JSON.parse(data))
		})
