extends ../templates/templateCursosEjercicios.jade

block title
	title Conjuntos || Aplicacion Logica computacional

block ayuda
	p Hola, para realizar el ejercicio sigue los paso que damos a continuacion.
	p El elemento vacio se inserta con la tecla
		span.tecla 0
	ol
		li Dale un nombre al conjunto
		li Ingresa los elementos del gupo separados por coma(,)
		li Presiona
			b Guardar Conjunto
		p Luego
		li Escribe los subconjuntos en la caja de texto que aparecera, nuevamente separados por coma(,)
		li Cuando termines, presiona
			b Verificar

block content
	h1.textoCentrado Conjuntos
	p Hola, en esta practica debes hallar los subconjuntos del conjunto que escogas. para mas informacion ver
		span.btn.btnAyuda.marginLateral Ayuda
	section
		form#formConjuntos_js.formConjuntos
			section.fieldset
				p.ancho100PorCieto.textoCentrado Subconjuntos
				input#htmlRadioConjuntosPropio_js(type='radio', name='tipiEjercicio', checked='')
				label(for='htmlRadioConjuntosPropio_js') Propios
				span.textoNegrilla.textoCentrado.marginLateral รณ
				input#htmlRadioConjuntosImpropio_js(type='radio', name='tipiEjercicio')
				label(for='htmlRadioConjuntosImpropio_js') Impropios
			section.fieldset
				input#nombreConjunto_js.inputCorto.inputCenterUppercase.inputBorderBottomFocus(type='text', maxlength='1', required='', autofocus='', autocomplete='off' name="nombreConjunto" )
				span.corchetesConjuntos
					input#elementosCojuntos_js.inputBorderBottomFocus.textoCentrado.nombreConjunto(formnovalidate='', type='text', required='', autocomplete='off' name="elementosCojuntos")
			section.fieldset
				button#htmlInputSubmitBtnrealizarEjercicio_js.btn.btnEnviar(type='submit', value='', autocomplete='off')
	section#conjuntoIngresado_js.textoCentrado.textoEspecial
	section
		form#seccionRespuesta_js.seccionRespuesta
block script
	script(src='../js/variablesGenerales.js')
	script(src='../js/principal.js')
	script(src='../js/funcionesAxuliares.js')
	script(src='../js/conjuntos.js')
