extends ../templates/templateCursosEjercicios.jade

block title
	title Grafos || Aplicacion Logica computacional

block content
	h1.textoCentrado Lorem
	p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique nam quibusdam sapiente, ullam neque, aliquid debitis repellendus placeat. Minus quod similique mollitia, a et magni quis neque! Aut, tempora. Incidunt.
	section.EjercicioPropuesto
		article.alignRight.seccionSeparadora
			button#btnGuardarGrafo_js.marginLateral.btn.btnConfirmar
				span.icon-guardar
				span.marginIconos Guardar Grafo
			label.marginLateral.btn.btnEnviar(for="cargarGrafo_js")
				span.icon-upload
				span.marginIconos Subir Grafo
			input.inputSubirGrafo(type="file" id="cargarGrafo_js")

		form#htmlFormformGrafos_js.formGrafos
			section.fieldset
				label(for='htmlLabelCantidadVertices_js') Orden |V| :
				input#htmlInputCantidadVertices_js.inputBorderBottomFocus.inputCorto(type='number', max='', min='2', value='2', required='', autocomplete='off')
				// autofocus
			section.fieldset
				label(for='htmlLabelCantidadAristas_js') Tamaño |E| :
				input#htmlInputCantidadAristas_js.inputBorderBottomFocus.inputCorto(type='number', max='', min='1', value='1', required='', autocomplete='off')
				p.textoNegrilla.marginLateral  ó
				input#htmlInputgrafoCompleto_js(type='checkbox')
				label(for='htmlInputgrafoCompleto_js') Grafo Completo
			section.fieldset
				button#htmlInputSubmitBtnrealizarEjercicio_js.btn.btnEnviar(type='submit', value='', autocomplete='off')
	svg#htmlSvgLienzo_js(disabled)
		g#htmlSvgLienzoGrilla_js
		g#htmlSvgLienzoGrafo_js
			g#htmlSvgLienzoGrafoNombres_js
			g#htmlSvgLienzoGrafoAristas_js
			g#htmlSvgLienzoGrafoVertices_js
	section
		article.accionesLienzo
			span#accionConectar_js.accionLienzo.icon-conectar
			span#accionMover_js.accionLienzo.icon-mover
			span#accionCrear_js.accionLienzo.icon-crear
			span#accionBorrar_js.accionLienzo.icon-borrar
		article.alignRight
			button#btnLimpiarLienzo_js.btn.btnEnviar
				span.icon-borrar
				span.marginIconos Limpiar Lienzo
			span.textoDescripcion o
				strong  Shift
				span +
				strong B
		form#htmlFormVerificarDatosGrafo_js(action='')
			section#htmlSectionGradoDeLosVertices_js

block script
	script(src='/js/variablesGenerales.js')
	script(src='/js/principal.js')
	script(src='/js/funcionesAxuliares.js')
	script(src='/js/ejerciciosGrafos.js')
	script(src='/js/aux.js')

