extends ../templates/templateCursosEjercicios.jade

block title
	title Tablas de Verdad || Aplicacion Logica computacional

block content
	h1.textoCentrado Ejercicio sobre Tablas de Verdad
	p.explicacion Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias nulla, quia quidem natus quam adipisci doloribus ex, odit amet ipsam perspiciatis deleniti iste eos voluptatibus dolor, fuga sint itaque assumenda.
	section
		form#htmlFormEjercicioPropuestoTablasVerdad_js
			section.fieldset
				label.textoNegrilla(for='numeroProposiciones_js') Numero de proposiciones:
				input#htmlInputNumeroProposicionesEscogidasPorUsuario_js.inputBorderBottomFocus.textoCentrado(value='2', type='number', min='0', max='5', autocomplete='off', required='')
			section.fieldset
				button#htmlInputSubmitBtnrealizarEjercicio_js(type='submit', value='', autocomplete='off')
	form#htmlFormRespuestaUsuario_js
		section#sectionTablasVerdad_js

block script
	script(src='../js/variablesGenerales.js')
	script(src='../js/principal.js')
	script(src='../js/funcionesAxuliares.js')
	script(src='../js/ejercicioTablaVerdad.js')
