extends templates/templateCursosEjercicios.jade

block content
	section.alto100PorCieto.displayFlexCenterTotal
		section.textoCentrado.error
			p.textoDescripcion Esta pagina no Existe
			p.code 404
			a#BackURL(href="") volver a la pagina anterior
			p รณ
			a(href="/") Ir al inicio

block script
	script.
		document.getElementById("BackURL").addEventListener("click",function(){window.history.back()})

