extends templates/template.jade

block title
	title Nosotros || Aplicacion Logica computacional

block content

	section.acercaDe.displayFlexCenterTotal
		section.participante
			section.img
				img(src='img/acercaDe/foto.jpg', alt='')
			section.infoCreador
				h2 Carlos Alonso Turner Benites
				p Programador y Diseñador Web
				p Estudiante - Programacion
				p 
					b Hobbies
				ul
					li Programar
					li Tocar Guitarra
					li Jugar en el PC o Consola
		section.participante
			section.img
				img(src='img/acercaDe/foto.jpg', alt='')
			section.infoCreador
				h2 Duban Andres Gaitan Vargas
				p Estudiante - Ingenieia de Sistemas
				p 
					b Hobbies
				ul
					li ------
					li ------
					li ------ 
		section.participante
			section.img
				img(src='img/acercaDe/foto.jpg', alt='')
			section.infoCreador
				h2 Jorge Andreas Poveda Carvajal
				p Estudiante - Ingenieia de Sistemas
				p 
					b Hobbies
				ul
					li Programar
					li Jugar en el PC o Consola
