extends templates/template.jade

block title
	title Referencias || Aplicacion Logica computacional

block content
	h2.textoCentrado Referencias
	section
		article.temaReferencia
			h3 	Calculo Proposicional
			ul.referencias
				li
					a(target="blank" href="#") referencia
		article.temaReferencia
			h3 	Tablas de Verdad
			ul.referencias
				li
					a(target="blank" href="#") referencia
		article.temaReferencia
			h3 	Conjuntos
			ul.referencias
				li
					a(target="blank" href="#") referencia
		article.temaReferencia
			h3 	Grafos
			ul.referencias
				li
					a(target="blank" href="#") referencia
					a(target="blank" href="#") referencia
		article.temaReferencia
			h3 Imagenes
			ul.referencias
				li
					a(target="blank" href="http://www.freepik.es/") Freepick
		article.temaReferencia
			h3 	Iconos
			ul.referencias
				li
					a(target="blank" href="https://icomoon.io/") Icomoon
		article.temaReferencia
			h3 	Paleta de colores
			ul.referencias
				li
					a(target="blank" href="http://paletton.com/") Paletton
				
				
				
				
