extends templates/template.jade

block title
	title Referencias || Aplicacion Logica computacional

block content
	h2.textoCentrado Referencias
	section
		article.temaReferencia
			h3 	Calculo Proposicional
			ul.referencias
				li
					a(href="#") referencia
		article.temaReferencia
			h3 	Tablas de Verdad
			ul.referencias
				li
					a(href="#") referencia
		article.temaReferencia
			h3 	Conjuntos
			ul.referencias
				li
					a(href="#") referencia
		article.temaReferencia
			h3 	Grafos
			ul.referencias
				li
					a(href="#") referencia
				
				
				
				
