doctype html
html(lang='es')
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		block title
		link(rel='shortcut icon', href='img/favicon.png', type='image/x-icon')
		link(rel='stylesheet', href='/css/logicacomputacional.css')
	body.flex
		nav
			ul.displayFlexCenterTotal
				li
					a.itemsMenu.marginLateral(href='/')
						span.icono.icon-inico.marginIconos
						span.nombreMenu Inicio
				li
					a.itemsMenu.marginLateral(href='/cursos')
						span.icono.icon-cursos.marginIconos
						span.nombreMenu Cursos
				li
					a.itemsMenu.marginLateral(href='/ejercicios')
						span.icono.icon-ejercicios.marginIconos
						span.nombreMenu Ejercicios
				li
					a.itemsMenu.marginLateral(href='/nosotros')
						span.icono.icon-nosotros.marginIconos
						span.nombreMenu Acerca de..
		section.contenedorDeAncho.cP
			block content

		footer
			section.contenedorDeAncho
				article.acciones
					p
						a(href='/ayuda') Ayuda
					p
						a(href='#') Referencias
					p
						span Copyleft
						span.icon-copyleft.marginIconos
						span Carlos Turner B
			section.contactoRedes
				a(target='_black', href='#')
					span.iconoRed.icon-facebook
				a(target='_black', href='#')
					span.iconoRed.icon-google
				a(target='_black', href='#')
					span.iconoRed.icon-twitter
				a(target='_black', href='#')
					span.iconoRed.icon-youtube
				a(target='_black', href='https://github.com/carlosturnerbenites/AppLogicaComputacional')
					span.iconoRed.icon-github
