doctype html
html(lang='es')
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		block title
		link(rel='stylesheet', href='../css/logicacomputacional.css')
	body
	block content
	block script


