doctype html
html(lang='es')
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		block title
		link(rel='shortcut icon', href='img/favicon.png', type='image/x-icon')
		link(rel='stylesheet', href='../css/logicacomputacional.css')
	body
		section#contenedorPrincipal_js.contenedorDeAncho
			section.seccionAyuda.seccionDesplegable.positionRelative
				button#btnAyuda_js.btn.btnAyuda.btnAyuda
					span.icon-ayuda.marginIcon
					span Ayuda
				article#seccionExplicacion_js.seccionExplicacion.ocultar
					block ayuda
			block content
		section.positionRelative.seccionDesplegable.reproductorMusica
			button#reproductorMusica_js.marginLateral
				span#estadoActualAudio_js.cancelarMargin.icon-play
			input#barraDePorgresoAudio_js.marginLateral.barraDeProgreso(type="range" min='0', value='0', step='0.1' max='')
			ul.listadoAjustesAudio
				li
					label.icon-silenciado(for='silenciarAudio_js')
					input#silenciarAudio_js(type='checkbox', name='silenciar' )
				li
					label.icon-repetir(for='repetirAudio_js')
					input#repetirAudio_js(type='checkbox', name='repetir')
				li
					span#htmlSpanIconoVolumenActual_js.icon-volumenAlto
					input#volumenAudio_js(value='1', type='range', max='1', min='0', step='0.1', name='volumen')
			article#listadoAjustesAudio_js.ocultar

	block script
	script(src='/js/audio.js')



