@import url(https://fonts.googleapis.com/css?family=Oxygen);

.descargaEnZona
	border 3px dashed gray !important
.dropzone
	width 90%
	margin 0 auto
	min-height 100px
	border-radius 10px
	border 5px dashed gray
	display flex
	justify-content center
	align-items center
.elementosArrastrables
	width 100%
	display flex
	justify-content space-between
	margin-top 10px
.elementoArrastrable
	width 20%
	padding 10px
	text-align center
[draggable]
	cursor pointer
.oracion
	font-size 1.5em
	font-family: 'Oxygen', sans-serif;
	margin 40px 0 40px 40px
.dragEnter
	background-color rgba(0,0,0,.1) !important

.eliminarElemento
	animation 2s eliminar 1 linear
@keyframes eliminar
	0%
		transform scale(1,1)
	50%
		transform scale(.5,.5)
	100%
		transform scale(0,0)
