extends ../templates/templateCursosEjercicios.jade

block title
	title Tablas de Verdad || Aplicacion Logica computacional
block ayuda
	p Hola, para realizar el ejercicio sigue los paso que damos a continuación.
	ol
		li Escoge el número de proposiciones con las cuales quiere  realizar el ejercicio y presiona
			span.btn.btnEnviar Realizar Ejercicio.
		p Luego 
		li LLena los campos con los valores correspondiente(
			strong V 
			|: Verdadero y 
			strong  F 
			|: Falso)
		li Y por ultimo  verifica el ejercicio presionando
			span.btn.btnConfirmar Verificar
		p Recuerda que:
		li Puedes agregar columnas con el boton 
			button.icon-mas.agregarFila
		li Estas columnas no infuiran en la respuesta final.
		li Puedes marcar columnas dando doble clic sobre ella y realizando la misma accion para desmarcarlas.
	
block content
	h1.textoCentrado Tablas de Verdad
	p.explicacion Hola, resuelve la tabla, ingresa los valores y verifica si en correcto. Para mas informacion ve a
		span.btn.btnAyuda.marginLateral Ayuda
	section
		form#htmlFormEjercicioPropuestoTablasVerdad_js
			section.fieldset
				label.textoNegrilla(for='numeroProposiciones_js') Numero de proposiciones:
				input#htmlInputNumeroProposicionesEscogidasPorUsuario_js.inputBorderBottomFocus.textoCentrado(value='5', type='number', min='0', max='5', autocomplete='off', required='')
			section.fieldset
				button#htmlInputSubmitBtnrealizarEjercicio_js(type='submit', value='', autocomplete='off')
	section#sectionTablasVerdad_js
		form#htmlFormRespuestaUsuario_js

block script
	script(src='../js/ejercicios/tablaVerdad.js')
