extends templates/template.jade

block title
	title Ayuda || Aplicacion Logica computacional

block content
	section.contenedorDeAncho
		h2.textoCentrado Teclas rapidas o shortcut
		ul.contenedorTeclas
			li
				p.tecla Shift
					span.icon-shift
				span +
				p.tecla ?
				span.textoDescripcion Limpiar Lienzo
			li
				p.tecla Shift
					span.icon-shift
				span +
				p.tecla sa
				span.textoDescripcion Desplegar Ayuda

