extends templates/template.jade

block title
	title Ayuda || Aplicacion Logica computacional

block content
	section.contenedorDeAncho
		h2.textoCentrado Teclas rapidas o shortcut
		ul.contenedorTeclas
			li
				p.tecla Shift
				span.icon-shift +
				p.tecla B
				span.textoDescripcion Limpiar Lienzo
			li
				p.tecla Shift
				span.icon-shift +
				p.tecla A
				span.textoDescripcion Desplegar Ayuda

