extends templates/template.jade

block title
	title Inicio || Aplicacion Logica computacional

block content
	section.imagenFondo.displayFlexCenterTotal
		header.textoCentrado
			h2 Logica computacional
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, ex. Maxime, autem. Repellat quod autem quos delectus! Possimus at ab eius atque dolores, corrupti fugiat accusamus, qui vel, incidunt itaque.

	section.contenedorDeAncho

		section.containerInfo.displayFlexCenterTotal.textoCentrado
			section.dosColumnas
				h2.titulo Que es
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, ex. Maxime, autem. Repellat quod autem quos delectus! Possimus at ab eius atque dolores, corrupti fugiat accusamus, qui vel, incidunt itaque.

			section.dosColumnas
				figure.ancho100PorCieto
					img.ancho100PorCieto(src='img/index/queEs.jpg', alt='')

		section.containerInfo.displayFlexCenterTotal.textoCentrado
			section.dosColumnas
				figure.ancho100PorCieto
					img.ancho100PorCieto(src='img/index/queEs.jpg', alt='')
			section.dosColumnas
				h2.titulo Para que sirve
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, ex. Maxime, autem. Repellat quod autem quos delectus! Possimus at ab eius atque dolores, corrupti fugiat accusamus, qui vel, incidunt itaque.

		section.containerInfo.displayFlexCenterTotal.textoCentrado
			section.dosColumnas
				h2.titulo Que vas a ver
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, ex. Maxime, autem. Repellat quod autem quos delectus! Possimus at ab eius atque dolores, corrupti fugiat accusamus, qui vel, incidunt itaque.
				ul
					li temario 1
					li temario 2
					li temario 3
					li temario 4
			section.dosColumnas
				figure.ancho100PorCieto
					img.ancho100PorCieto(src='img/index/queEs.jpg', alt='')

		section.containerInfo.displayFlexCenterTotal.textoCentrado
			section.dosColumnas
				figure.ancho100PorCieto
				img.ancho100PorCieto(src='img/index/queEs.jpg', alt='')
			section.dosColumnas
				h2.titulo Que ganaras
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, ex. Maxime, autem. Repellat quod autem quos delectus! Possimus at ab eius atque dolores, corrupti fugiat accusamus, qui vel, incidunt itaque.
				ul
					li Habiidad 1
					li Habiidad 2
					li Habiidad 3
					li Habiidad 4
