doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Inicio || Aplicacion Logica computacional
    link(rel='stylesheet', href='css/logicacomputacional.css')
  body
    nav
      ul.displayFlexCenterTotal
        li
          a.itemsMenu(href='index.html')
            span.icono.icon-inico
            span.nombreMenu Inicio
        li
          a.itemsMenu(href='moduloCursos/todosLosCursos.html')
            span.icono.icon-cursos
            span.nombreMenu Cursos
        li
          a.itemsMenu(href='moduloEjercicios/todosLosEjercicios.html')
            span.icono.icon-ejercicios
            span.nombreMenu Ejercicios
        li
          a.itemsMenu(href='acercaDe.html')
            span.icono.icon-nosotros
            span.nombreMenu Acerca de..
    section.imagenFondo.displayFlexCenterTotal
      header.textoCentrado
        h2 Logica computacional
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, ex. Maxime, autem. Repellat quod autem quos delectus! Possimus at ab eius atque dolores, corrupti fugiat accusamus, qui vel, incidunt itaque.
    section.contenedorDeAncho
      section.containerInfo.displayFlexCenterTotal.textoCentrado
        section.dosColumnas
          h2.titulo Que es
          p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, ex. Maxime, autem. Repellat quod autem quos delectus! Possimus at ab eius atque dolores, corrupti fugiat accusamus, qui vel, incidunt itaque.
        section.dosColumnas
          figure.ancho100PorCieto
            img.ancho100PorCieto(src='img/index/queEs.jpg', alt='')
      section.containerInfo.displayFlexCenterTotal.textoCentrado
        section.dosColumnas
          figure.ancho100PorCieto
            img.ancho100PorCieto(src='img/index/queEs.jpg', alt='')
        section.dosColumnas
          h2.titulo Para que sirve
          p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, ex. Maxime, autem. Repellat quod autem quos delectus! Possimus at ab eius atque dolores, corrupti fugiat accusamus, qui vel, incidunt itaque.
      section.containerInfo.displayFlexCenterTotal.textoCentrado
        section.dosColumnas
          h2.titulo Que vas a ver
          p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, ex. Maxime, autem. Repellat quod autem quos delectus! Possimus at ab eius atque dolores, corrupti fugiat accusamus, qui vel, incidunt itaque.
          ul
            li temario 1
            li temario 2
            li temario 3
            li temario 4
        section.dosColumnas
          figure.ancho100PorCieto
            img.ancho100PorCieto(src='img/index/queEs.jpg', alt='')
      section.containerInfo.displayFlexCenterTotal.textoCentrado
        section.dosColumnas
          figure.ancho100PorCieto
            img.ancho100PorCieto(src='img/index/queEs.jpg', alt='')
        section.dosColumnas
          h2.titulo Que ganaras
          p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, ex. Maxime, autem. Repellat quod autem quos delectus! Possimus at ab eius atque dolores, corrupti fugiat accusamus, qui vel, incidunt itaque.
          ul
            li Habiidad 1
            li Habiidad 2
            li Habiidad 3
            li Habiidad 4
    footer
      section.contenedorDeAncho
        p Aplicacion Logica Computacional
        p Calle 34 Cra 4 Barrio Lorem Girardot-Cund
        p 456 5412 - 123 6589
        p 321 456 9878 - 123 654 7896
        article.acciones
          p
            a(href='ayuda.html') Ayuda
          p
            a(href='#') Contacto
          p
            a(href='#') Terminos de Uso
          p
            a(href='#') Referencias
      section.contactoRedes
        a(target='_black', href='#')
          span.iconoRed.icon-facebook
        a(target='_black', href='#')
          span.iconoRed.icon-google
        a(target='_black', href='#')
          span.iconoRed.icon-twitter
        a(target='_black', href='#')
          span.iconoRed.icon-youtube
        a(target='_black', href='https://github.com/carlosturnerbenites/AppLogicaComputacional')
          span.iconoRed.icon-github

