extends template.jade

block content
	section.contenedorDeAncho
		h2.textoCentrado Ejercicios
		ul.listado
			li
				a(href='/ejercicios/tablasDeVerdad') Tablas de Verdad
				p.textoDescripcion Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente dolorem, molestias repudiandae pariatur libero at blanditiis maxime totam odit eveniet dolore ipsa sequi beatae omnis. Rem dignissimos sed quam, quidem!
			li
				a(href='/ejercicios/calculoProposicional') Calculo Proposicional
				p.textoDescripcion Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente dolorem, molestias repudiandae pariatur libero at blanditiis maxime totam odit eveniet dolore ipsa sequi beatae omnis. Rem dignissimos sed quam, quidem!
			li
				a(href='/ejercicios/conjuntoss') Conjuntos
				p.textoDescripcion Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente dolorem, molestias repudiandae pariatur libero at blanditiis maxime totam odit eveniet dolore ipsa sequi beatae omnis. Rem dignissimos sed quam, quidem!
			li
				a(href='/ejercicios/grafos') Grafos
				p.textoDescripcion Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente dolorem, molestias repudiandae pariatur libero at blanditiis maxime totam odit eveniet dolore ipsa sequi beatae omnis. Rem dignissimos sed quam, quidem!
