doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Cursos
    link(rel='stylesheet', href='css/logicacomputacional.css')
  body
    section.contenedorDeAncho
      h2.textoCentrado Cursos
      ul.listado
        li
          a(href='cursosDisponibles/calculoProposicional.html') Calculo Proposicional
          p.textoDescripcion
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente dolorem, molestias repudiandae pariatur libero at blanditiis maxime totam odit eveniet dolore ipsa sequi beatae omnis. Rem dignissimos sed quam, quidem!
        li
          a(href='cursosDisponibles/tablasDeVerdad.html') Tablas de Verdad
          p.textoDescripcion
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente dolorem, molestias repudiandae pariatur libero at blanditiis maxime totam odit eveniet dolore ipsa sequi beatae omnis. Rem dignissimos sed quam, quidem!
        li
          a(href='cursosDisponibles/grafos.html') Grafos
          p.textoDescripcion
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente dolorem, molestias repudiandae pariatur libero at blanditiis maxime totam odit eveniet dolore ipsa sequi beatae omnis. Rem dignissimos sed quam, quidem!
        li
          a(href='cursosDisponibles/conjuntos.html') Conjuntos
          p.textoDescripcion
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente dolorem, molestias repudiandae pariatur libero at blanditiis maxime totam odit eveniet dolore ipsa sequi beatae omnis. Rem dignissimos sed quam, quidem!
