doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Ejercicios
    link(rel='stylesheet', href='css/logicacomputacional.css')
  body
    section.contenedorDeAncho
      h2.textoCentrado Ejercicios
      ul.listado
        li
          a(href='ejerciciosDisponibles/ejercicioTablasDeVerdad.html') Tablas de Verdad
          p.textoDescripcion
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente dolorem, molestias repudiandae pariatur libero at blanditiis maxime totam odit eveniet dolore ipsa sequi beatae omnis. Rem dignissimos sed quam, quidem!
        li
          a(href='ejerciciosDisponibles/ejercicioCalculoProposicional.html') Calculo Proposicional
          p.textoDescripcion
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente dolorem, molestias repudiandae pariatur libero at blanditiis maxime totam odit eveniet dolore ipsa sequi beatae omnis. Rem dignissimos sed quam, quidem!
        li
          a(href='ejerciciosDisponibles/ejercicioConjuntos.html') Conjuntos
          p.textoDescripcion
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente dolorem, molestias repudiandae pariatur libero at blanditiis maxime totam odit eveniet dolore ipsa sequi beatae omnis. Rem dignissimos sed quam, quidem!
        li
          a(href='ejerciciosDisponibles/ejercicioGrafos.html') Grafos
          p.textoDescripcion
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente dolorem, molestias repudiandae pariatur libero at blanditiis maxime totam odit eveniet dolore ipsa sequi beatae omnis. Rem dignissimos sed quam, quidem!
