extends ../templates/templateCursosEjercicios.jade
block title
	title Conjuntos || Aplicacion Logica computacional
block content
	section
		h1.textoCentrado Lorem
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique nam quibusdam sapiente, ullam neque, aliquid debitis repellendus placeat. Minus quod similique mollitia, a et magni quis neque! Aut, tempora. Incidunt.
block script
	script(src='../js/variablesGenerales.js')
	script(src='../js/funcionesAxuliares.js')
